<div class="container space-t">
    <div class="row" *ngFor="let element of newsListArray">
        <div class="row">
            <div class="fw-bold space-b"> {{element.titulo}} </div>
        </div>
        <div class="row">
            <div class="space-b"> {{element.subtitulo}} </div>
        </div>
        <div class="row space-b"> {{element.autor}} </div>
        <div class="row space-b"> {{element.data}} </div>
        <div class="row space-b"> {{element.conteudo}} </div>
    </div>
    <button class="btn btn-outline-secondary" type="button" (click)=return()>Voltar</button>
</div>